@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Open+Sans:wght@300;400;600;700;800&display=swap');

*,
*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color: #F7F7F7;
    --dark:#2F2917;
    --white: #FFFFFF;
}

h1,
h2,
h3{
    font-family: 'Cinzel', serif;
}
html{
    font-size: 13px;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: var(--dark);
    max-width: 800px;
    margin: auto;
}

.header{
    background-color: var(--bg-color);
    padding: 1rem 0 2.5rem;
}

.header_pages{
    padding: 1rem 0;
}

.navbar{
    padding: 1rem 3rem;
    background-color: var(--bg-color);
}

.nav_list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 45%;
    margin: 0 0 0 auto;

}

.nav_links{
    text-decoration: none;
    font-weight: 600;
    color: inherit;
}

.nav_item{

}

.header_info{
    display: flex;
    /* background-color: lawngreen; */
    align-items: center;
    padding: 0 0 0 3.2rem;
    /* justify-content: space-between; */
}

.header_image-box{
    padding: 0 3.5rem 0 0;
}

.header_image{
    object-fit: contain;
    width: 100%;
}

.header_details{

}

.primary_heading{
    font-size: 3rem;
    margin: 0 0 1rem;
}

.btn_solid{
    background-color: #964B00;
    text-decoration: none;
    color: var(--white);
    padding: 0.5rem 1.5rem;
    font-weight: 600;
}




/* styling for main links */
.main_links-box{
    /* background-color: rebeccapurple; */
    margin: 3rem auto;
}

.kunst_utility{
    margin: 8rem auto 0;
}
.main_links-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.main_list{

}
.main_link{
    display: block;
    text-decoration: none;
    border: 2px solid #964B00;
    padding: .5rem 1rem;
    color: inherit;
    font-size: .9rem;
}

/* styling for homepage images */
.home_images{
    /* background-color: lawngreen; */
    display: grid;
    grid-template-areas:
      'tall imageone imagetwo'
      'tall imagethree imagefour '
      ;
    grid-gap: 25px;
    /* background-color: #2196F3; */
    /* padding: 10px; */
}

.home_images-1 { 
    grid-area: tall; 
    border: 3px solid #2F2917;
}
.home_images-2 { 
    grid-area: imageone; 
    border: 3px solid #2F2917;
}
.home_images-3 { 
    grid-area: imagetwo;
    border: 3px solid #2F2917; 
}
.home_images-4 { 
    grid-area: imagethree; 
    border: 3px solid #2F2917;
}
.home_images-5 { 
    grid-area: imagefour; 
    border: 3px solid #2F2917;
}

.home_image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* styling for homepage images end*/

/* styling for footer */

.footer{
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    padding: 3rem 1.5rem;
    margin: 3rem 0 2rem;
}

.footer_logo{
    color: #964B00;
    font-family: 'Cinzel', serif;
    align-self: center;
}

.tertiary_heading{
    font-size: 1.5rem;
}

.footer_list{
    list-style: none;
}

.footer_link{
    text-decoration: none;
    color: inherit;
}

.footer_item{
    padding: .4rem 0 0;
    font-size: .9rem;
}

/* .footer_icon{
    height: 1rem;
    width: 1rem;
    padding: 0;
    margin: 0;
} */

.footer_icon{
    font-size: 1.5rem;
    padding: 0 .7rem 0 0;
    color: #964B00;
}

.f-icon {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}



/* Hol pages styling */

.secondary_heading{
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0 2.5rem;
}
.holzarbeiten_top{
    margin-bottom: 4rem;
}
.holzarbeiten_top,
.holzarbeiten_bottom{
    display: flex;
    justify-content: space-between;
}
.left_image-top,
.middle_image-top,
.right_image-top,
.left_image-bottom,
.middle_image-bottom,
.right_image-bottom{
    /* background-color: lawngreen; */
    width: 30%;
}

.left_image-top,
.right_image-top,
.left_image-bottom,
.right_image-bottom{
    display: flex;
    align-items: center;
}

.fig_image{
    object-fit: contain;
    width: 100%;
}

.fig_top,
.fig_bottom{
    margin-bottom: 4rem;
}

.caption{
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    font-weight: 700;
    padding: .5rem 0;
}

/* Karikaturen styling */
/* .karikaturen-top > figure > image{
    border: 2px solid #2F2917;
} */
.karikaturen-top,
.karikaturen-middle{
    margin-bottom: 3rem;
}
.karikaturen-middle{
    /* background-color: lawngreen; */
    display: grid;
    grid-template-areas:
      'kk kk kkkk kkkk kkkk'
      'kkk kkk kkkk kkkk kkkk'
      ;
    grid-gap: 35px;
    /* background-color: #2196F3; */
}

.karikaturen-one { 
    grid-area: kk; 
}
.karikaturen-two { 
    grid-area: kkk; 
    margin-top: -1rem;
    /* margin-top: 2.9rem; */
}
.karikaturen-three { 
    grid-area: kkkk;
    /* height: 100%; */
    /* border: 3px solid #2F2917;  */
}

.karikaturen img{
    border: 3px solid #2F2917;
}
/* .karik_image{
    height: 66.2%;
} */
.karikaturen-bottom{
    display: grid;
    /* grid-template-areas:
      'll lll lll lll'
      ; */
      grid-template-areas:
      'll lll lll lll lll lll'
      ;
    grid-gap: 35px;
}

.karikaturen-1 { 
    grid-area: ll; 
}
.karikaturen-2 { 
    grid-area: lll; 
}

/* kunststeinarbeiten-top styling */

.kunststeinarbeiten-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.kun_image{
    object-fit: contain;
    width: 100%;
    /* height: 100%; */
}

.kun_image-box{
    width: 46%;
}

/* .kun_spec{
    height: 102%;
} */

.kun_spec2{
    height: 52.8%;
    margin:  0 0 0 5.3rem;
}

.kunststeinarbeiten-bottom{
    display: flex;
    /* background-color: lawngreen; */
    margin-bottom: -29rem;
}

/* colored z */
.colored-top{
    display: grid;
    grid-template-areas:
      'cc cccc cccc cccc'
      'ccc cccc cccc cccc'
      ;
    grid-gap: 50px;
    margin-bottom: 3rem;
    /* background-color: #2196F3; */
}

.colored-one { 
    grid-area: cc; 
}
.colored-two { 
    grid-area: ccc; 
    margin-top: 6.8rem;
}
.colored-three { 
    grid-area: cccc;
}

.colored-bottom{
    display: grid;
    grid-template-areas:
      'gggg gggg gggg gggg gggg gggg gg'
      'gggg gggg gggg  gggg gggg gggg ggg'
      ;
    grid-gap: 60px;
}

.colored-four { 
    grid-area: gg; 
    /* margin-bottom: 3.7rem; */
}
.colored-five { 
    grid-area: ggg; 
}
.colored-six { 
    grid-area: gggg;
    /* height: 100%; */
    /* border: 3px solid #2F2917;  */
}


/* unclolored css */
.uncolored-top{
    display: grid;
    /* grid-template-areas:
      'cc ccc ccc ccccc '
      'cc cccc cccc ccccc '
      ; */

    grid-template-areas:
      'cc cc cc cc ccc ccccc ccccc ccccc ccccc'
      'cc cc cc cc cccc ccccc ccccc ccccc ccccc'
      ;

    grid-gap: 35px;
    margin-bottom: 3rem;
    /* background-color: #2196F3; */
}

.uncolored-one { 
    grid-area: cc; 
}
.uncolored-two { 
    grid-area: ccc; 
}
.uncolored-three { 
    grid-area: cccc;
    margin: -1rem 0 0;
}

.uncolored-four{
    grid-area: ccccc; 
}

.uncolored-bottom{
    display: grid;
    grid-template-areas:
      'gggg gggg gggg gggg gggg gggg gg'
      'gggg gggg gggg gggg gggg gggg ggg'
      ;
    grid-gap: 50px;
}

.uncolored-five { 
    grid-area: gg; 
    margin-bottom: -1.8rem;
}
.uncolored-six { 
    grid-area: ggg; 
}
.uncolored-seven { 
    grid-area: gggg;
    /* height: 100%; */
    /* border: 3px solid #2F2917;  */
}

.uncolored img {
    border: 3px solid #2F2917; 
}

/* contact styling */

.contact_main{
    display: flex;
    justify-content: space-between;
}

.form_image-box{
    /* width: 70%; */
    padding: 0 4rem 0 0;
}

.form_image{
    border: 2px solid #2F2917;
    width: 100%;
    object-fit: contain;
}

.form_box{
    
}
.form_text{
    font-weight: 600;
}

.form_label{

}

.form_input{
    display: block;
    width: 100%;
    padding: .8rem;
    border: 2px solid #D3D3D3;
    margin: 1.9rem 0;
}

input::placeholder {
    color: #7B7676;
  }

.form_radio-title{
    display: inline-block;
    padding: 0 1rem 0 0;
}
.radio_label{
    padding: 0 1rem 0 0;
}

.form_message{
    width: 100%;
    border: 2px solid #D3D3D3;
    padding: .8rem 0 8rem .8rem;
    margin: 1.9rem 0;
}

#form_btn{
    border: none;
}

/* info stlying */
.info_main{
    display: flex;
    justify-content: space-between;
}
.huge_text-box{
    position: relative;
    width: 30%;
}
.huge_text{
    color: rgba(0, 0, 0, 0.15);
    width: 1600px;
    transform-origin: 0 50%;
    transform: rotate(-90deg) translate(-50%,50%);
    position: absolute;
    top: 0;
    bottom: 48rem;
    left: 5rem;
    margin: auto;
    font-weight: 700;
    font-size: 7.3rem;
    font-family: 'Cinzel', serif;
}

.info_details{
    width: 60%;
}

.info_image{
    border: 2px solid #964B00;
    width: 100%;
}
.info_p{
    text-align: justify;
}
.info_header{
    text-align: left;
    padding: 1rem 0 1rem;
}




/* media queries */
@media screen and (max-width: 900px) {
    body{
        max-width: 700px;
    }

}

@media screen and (max-width: 700px) {
    body{
        max-width: 500px;
    }

}
@media screen and (max-width: 500px) {
    body{
        max-width: 350px;
    }

}

@media screen and (max-width: 480px) {
    html{
        font-size: 10px;
    }

    body{
        /* font-family: 'Open Sans', sans-serif;
        color: var(--dark); */
        margin: 0 10%;
    }
    
    .navbar{
        padding: 1rem 1.5rem;
        /* background-color: var(--bg-color); */
    }
    
    .nav_list{
        width: 80%;
        /* margin: 0 0 0 auto; */
    }
    
    .header_info{
        padding: 0 0 0 1.5rem;
        /* justify-content: space-between; */
    }
    
    .header_image-box{
        padding: 0 1.5rem 0 0;
        width: 50%;
    }
    
    /* .header_image{
        object-fit: contain;
        width: 100%;
    } */
    
    /* .header_details{
    
    }
     */
    .primary_heading{
        font-size: 1.8rem;
        /* margin: 0 0 1rem; */
    }
    
    .btn_solid{
        /* background-color: #964B00;
        text-decoration: none;
        color: var(--white); */
        padding: 0.5rem 1rem;
        font-size: .8rem;
        /* font-weight: 600; */
    }

    /* styling for main links */
    .main_links-box{
        /* background-color: rebeccapurple; */
        margin: 3rem 0;
    }
    .main_links-list{
        /* display: flex;
        justify-content: space-around;
        list-style: none; */
        flex-direction: column;
        text-align: center;
    }
    .main_list{
        margin: .5rem;
    }

    .home_images-1,
    .home_images-2,
    .home_images-3,
    .home_images-4,
    .home_images-5 { 
        border: 1px solid #2F2917;
    }

    
    /* styling for footer */

    .footer{
        /* background-color: var(--bg-color);
        display: flex;
        justify-content: space-between; */
        padding: 2rem 1.5rem;
        /* margin: 3rem 0 2rem; */
        flex-direction: column;
    }

    .footer_logo{
        /* color: #964B00;
        font-family: 'Cinzel', serif; */
        align-self: flex-start;
    }

        .footer_div{
            margin: 1rem 0;
        }

        /* styling for caption and fig image */
        .caption{
            /* font-family: 'Cinzel', serif; */
            font-size: 1.2rem;
            /* font-weight: 700;
            padding: .5rem 0; */
        }


        /* edist for kunststeinarbeiten */
        .kunststeinarbeiten-bottom{
            margin-bottom: -13.5rem;
        }

        .kun_spec2{
            /* height: 52.8%; */
            margin:  0 0 0 2.3rem;
        }

        /* Karikaturen styling eidts */

    .karikaturen-top,
    .karikaturen-middle{
        margin-bottom: 1.5rem;
    }
    .karikaturen-middle{
        grid-template-areas:
        'kk kk kkkk kkkk kkkk kkkk kkkk'
        'kkk kkk kkkk kkkk kkkk kkkk kkkk'
        ;
        grid-gap: 15px;
        /* background-color: #2196F3; */
    }

    /* .karikaturen-one { 
        grid-area: kk; 
    } */
    .karikaturen-two { 
        /* grid-area: kkk;  */
        margin-top: 0;
    }

    .karikaturen img{
        border: 1px solid #2F2917;
    }
  
    .karikaturen-bottom{
        /* display: grid; */
        grid-template-areas:
        'll lll lll lll lll lll lll lll lll lll lll'
        ;
        grid-gap: 15px;
    }

    
    /* colored styling */
    .colored-top{
        display: grid;
        grid-template-areas:
        'cc cccc'
        'ccc cccc'
        ;
        grid-gap: 50px;
        margin-bottom: 3rem;
        /* background-color: #2196F3; */
    }

    .colored-one { 
        grid-area: cc; 
    }
    .colored-two { 
        grid-area: ccc; 
    }
    .colored-three { 
        grid-area: cccc;
    }

    .colored-bottom{
        display: grid;
        grid-template-areas:
        'gggg gggg gggg gggg gggg gg'
        'gggg gggg gggg  gggg gggg ggg'
        ;
        grid-gap: 50px;
    }

    .colored-four { 
        grid-area: gg; 
        margin-bottom: .8rem;
    }
    .colored-five { 
        grid-area: ggg; 
    }
    .colored-six { 
        grid-area: gggg;
        /* height: 100%; */
        /* border: 3px solid #2F2917;  */
    }


    /* unclolored css */
    .uncolored-top{
        display: grid;
        grid-template-areas:
        'cc cc cc cc cc cc cc ccc  ccccc ccccc ccccc ccccc ccccc ccccc'
        'cc cc cc cc cc cc cc cccc  ccccc ccccc ccccc ccccc ccccc ccccc'
        ;
        grid-gap: 15px;
        margin-bottom: 1.5rem;
        /* background-color: #2196F3; */
    }

    .uncolored-one { 
        grid-area: cc; 
    }
    .uncolored-two { 
        grid-area: ccc; 
    }
    .uncolored-three { 
        grid-area: cccc;
        margin: -1rem 0 0;
    }

    .uncolored-four{
        grid-area: ccccc; 
    }

    .uncolored-bottom{
        display: grid;
        grid-template-areas:
        'gggg gggg gggg gggg gggg gggg gggg gggg gggg gggg gg'
        'gggg gggg gggg gggg gggg gggg gggg gggg gggg gggg  ggg'
        ;
        grid-gap: 17px;
    }

    /* .uncolored-five { 
        grid-area: gg; 
        margin-bottom: -.7rem;
    } */
    /* .uncolored-six { 
        grid-area: ggg; 
    } */
    .uncolored-seven { 
        /* grid-area: gggg; */
        /* height: 100%; */
        /* border: 3px solid #2F2917;  */
    }

    .uncolored img {
        border: 1px solid #2F2917; 
    }

    /* contact section */
    .huge_text{
        bottom: 120rem;
        left: 3rem;
        font-size: 5rem;
    }
    .form_image-box{
        display: none;
    } 
  }